* {
    font-family:Arial, Helvetica, sans-serif;
    color: azure;

}

a {
  color: var(--eerie-black);
}

body {
  background-color: rgb(45, 46, 57);
  font-family:Arial, Helvetica, sans-serif;
}

.head {
  font-weight: 600;
  color: aliceblue;
}

.options {
  padding: 2px 10px;
  margin: auto 6px;
  color: var(--eerie-black);
}
.options-holder {
  padding: 2px 10px;
  margin: auto 6px;
  color: var(--eerie-black);
}

:hover.options {
  border: black solid 1px;
}

.align {
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footerImg {
  width: 60%;
  background-color: white;
  border-radius: 9px;
}



.portfolioItem :hover {
border: 2px solid aquamarine;
}

.footerLink {
  max-width: 50px;
  min-width: 30px;
}