* {
    font-family:Arial, Helvetica, sans-serif;
    color: azure;
}

:root{
  /* CSS HEX */
--licorice: rgb(35, 35, 43);
--dark-goldenrod: #BE8D27ff;
--delft-blue: #223757ff;
--dark-slate-gray: #2F585Cff;
--lighter: rgb(115, 222, 231);
--cardinal: #C93045ff;
}

a {
  color: var(--eerie-black);
}

body {
  background-color: var(--licorice);
  font-family:Arial, Helvetica, sans-serif;
}

.head {
  font-weight: 600;
  color: aliceblue;
}

.options {
  padding: 2px 10px;
  margin: auto 6px;
  color: var(--eerie-black);
}
.options-holder {
  padding: 2px 10px;
  margin: auto 6px;
  color: var(--eerie-black);
}

:hover.options {
  border: black solid 1px;
}

.align {
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footerImg {
  width: 60%;
  background-color: white;
  border-radius: 9px;
}



.portfolioItem :hover {
border: 2px solid aquamarine;
}

.footerLink {
  max-width: 50px;
  min-width: 30px;
}

.homePage {
  font-size: 100px;
}

.sectionHeading {
  margin: 20px;
  font-weight: 600;
}


.darkBG {
  background-color: var(--licorice);
  color: var(--lighter);
}

.lightBG {
  background-color: var(--lighter);
  color: var(--licorice);
}