* {
    font-family:Arial, Helvetica, sans-serif;
    color: azure;
}

:root{
  /* CSS HEX */
--licorice: rgb(35, 35, 43);
--dark-goldenrod: #BE8D27ff;
--delft-blue: #223757ff;
--dark-slate-gray: rgb(46, 88, 92);
--lighter: rgb(115, 222, 231);
--cardinal: #C93045ff;
}

a {
  color: var(--eerie-black);
}

body {
  background-color: var(--licorice);
  font-family:Arial, Helvetica, sans-serif;
}

.head {
  font-weight: 600;
  color: aliceblue;
}

.options {
  padding: 2px 10px;
  margin: auto 6px;
  color: var(--eerie-black);
}
.options-holder {
  padding: 2px 10px;
  margin: auto 6px;
  color: var(--eerie-black);
}

:hover.options {
  border: black solid 1px;
}

.align {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footerImg {
  width: 80%;
  border-radius: 9px;
}



.portfolioItem :hover {
border: 2px solid aquamarine;
}

.footerLink {
  max-width: 50px;
  min-width: 30px;
}

.homePage {
  font-size: 100px;
}

.sectionHeading {
  margin: 20px;
  font-weight: 600;
  margin-left: 50px;
}


.darkBG {
  background-color: var(--licorice);
  color: var(--lighter);
}

.lightBG {
  background-color: var(--lighter);
  color: var(--licorice);
}

.topLink {
  background-color: var(--dark-slate-gray);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  border: solid 3px aliceblue;
  max-width: 100px;
  margin: 15px 20px;
  font-weight: 600;
}
.resumeLink {
  background-color: var(--dark-slate-gray);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  border: solid 3px aliceblue;
  max-width: 300px;
  margin: 5px 20px;
  font-weight: 600;
}

.topLink:hover {
  background-color: var(--cardinal);
  color: var(--delft-blue);
  border: 2px var(--dark-slate-gray) solid;
  font-weight: 900;
  box-shadow: 10px 5px 5px var(--delft-blue);
  text-shadow: 2px 2px var(--dark-goldenrod);
}

.resumeLink:hover {
  background-color: var(--cardinal);
  color: var(--lighter);
  border: 2px var(--dark-slate-gray) solid;
  font-weight: 800;
  box-shadow: 2px 5px 5px var(--dark-slate-gray);
  text-shadow: 2px 2px var(--dark-slate-gray);
}
.contactBtn:hover {
  background-color: var(--cardinal);
  color: var(--lighter);
  border: 2px var(--dark-slate-gray) solid;
  font-weight: 900;
  box-shadow: 2px 5px 5px var(--dark-slate-gray);
  text-shadow: 2px 2px var(--dark-slate-gray);
}

.introText {
  color: var(--delft-blue);
}

.navLeft {
  display: flex;
justify-content: flex-start;
flex-direction: row;
}

.navRight {
  position: fixed;
  right: 30px;
}

.contactBtn {
  background-color: var(--dark-goldenrod);
  border: var(--delft-blue) solid 2px;
  color: var(--delft-blue);
  font-weight: 800;
}

.contactForm {
  display: flex;
  flex-direction: column;
  color: var(--delft-blue);
  background-color: var(--lighter);
  margin: 20px;
  border-radius: 30px;
}

form label {
  color: var(--delft-blue);
  margin: 10px 0px 0px;
  font-weight: 600;
}

form textarea, form input {
  color: var(--delft-blue);
  border-radius: 10px;
}

.submitBtn {
  margin: 20px 0px 10px;
  border-radius: 10px;
}

.portfolioLink {
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
  border-left: 2px solid aliceblue;
  padding: 10px;
}
.portfolioLink:hover {
  color: var(--lighter);
  font-weight: 700;
  border-left: 2px solid var(--lighter);
  border-bottom: 2px solid var(--lighter);
  padding: 10px;
}

.portfolioCard {
  padding: 10px;
  margin: 15px 15px 30px;
  border: solid 5px var(--delft-blue);
  align-self: center;
  background-color: var(--delft-blue);
}

.langList {
  display: inline;
}